*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  body {
    --bg: linear-gradient(292.55deg, #E5E5E5 -18.12%, rgba(79, 227, 227, 0.229167) 88.3%, rgba(35, 226, 226, 0) 119.94%, #E5E5E5 119.94%);
    --color:#0D745B;
    margin: 0;
    padding: 0;
    background: var(--bg);
    color: var(--color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .main{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
    padding: 10vh 10vw;
    & .left{
        width: 40%;
        padding: 10px;
        & .content{
            background: var(--bg);
            width: 100%;
            border-radius: 30px;
            padding:20px;
            height: 100%;
        }
    }
    & .right{
        width: 60%;
        padding: 10px;
        & .content{
            background: var(--bg);
            width: 100%;
            border-radius: 30px;
            padding:20px;
            height: 100%;

        }
    }

    @media screen and (max-width:800px) {
        & .left, .right{
            width:100%
        }
    }
  }